# =========================
# SSH (ignore everything)
# =========================
ssh/*
!ssh/config
!ssh/config.d/
!ssh/providers.mac
!ssh/providers.fedora
!ssh/pkcs11-filter.sh
ssh/config.d/dienstwerk
# !ssh/known_hosts

# =========================
# Vim
# =========================
vim/undo/*
!vim/undo/.keep
vim/.netrwhist

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Nextcloud
# =========================
Nextcloud/*
!Nextcloud/nextcloud.cfg
!Nextcloud/sync-exclude.lst

# =========================
# junie
# =========================
junie/*
junie/settings.json
!junie/config.json
!junie/*.md
!junie/versions
!junie/mcp
!junie/models
!junie/skills
!junie/commands
!junie/agents
!junie/vendor
