# =========================
# SSH (ignore everything)
# =========================
ssh/*
!ssh/config
# !ssh/known_hosts

# =========================
# Vim
# =========================
vim/undo/*
!vim/undo/.keep
vim/.netrwhist

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Nextcloud
# =========================
Nextcloud/*
!Nextcloud/nextcloud.cfg
!Nextcloud/sync-exclude.lst